<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="W.A.Y">
	<application android:label="W.A.Y">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBuHCDinmucANESM_6XS5KQbt4JqNt_Cm8" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="24" />
	<!-- Google Maps for Android v2 requires OpenGL ES v2 -->
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<!-- We need to be able to download map tiles and access Google Play Services-->
	<!-- Allow the application to access Google web-based services. -->
	<!-- Google Maps for Android v2 will cache map tiles on external storage -->
	<!-- Google Maps for Android v2 needs this permission so that it may check the connection state as it must download data -->
	<!-- Permission to receive remote notifications from Google Play Services -->
	<!-- Notice here that we have the package name of our application as a prefix on the permissions. -->
	<permission android:name="find.me.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
	<!-- These are optional, but recommended. They will allow Maps to use the My Location provider. -->
</manifest>